CREATE OR REPLACE FUNCTION TestME()
Returns setof geometry as
$BODY$
	Declare
	sql text;
	rec record;
	malabe geometry;
	output geometry;
BEGIN
	sql:= 'select geom from abc';
	
	--Execute "select the_geom from places where name='Malabe'" into malabe;
	FOR rec in Execute sql
	LOOP
		Execute 'insert into test select st_startpoint('''||rec.geom::text||''')'; 
		
	END LOOP;
	Return;
	
END
$BODY$
LANGUAGE plpgsql VOLATILE STRICT;

select * from TestME()

create table test3(geom geometry)

insert into test3
select st_snaptogrid(geom,0.001) from road_city8 where st_dwithin(geom,'01010000002FE9DE7918FD5340C5E00621C59D1B40',100,false)

create table test4(geom geometry)

insert into test4
select st_snaptogrid(geom,0.001) from road_city8 where st_dwithin(geom,'01010000002FE9DE7918FD5340C5E00621C59D1B40',200,false)

create table test5(geom geometry)

insert into test5
select st_snaptogrid(geom,0.001) from road_city8 where st_dwithin(geom,'01010000002FE9DE7918FD5340C5E00621C59D1B40',500,false)

create table test6(geom geometry)

insert into test6
select st_snaptogrid(geom,0.001) from road_city8 where st_dwithin(geom,'01010000002FE9DE7918FD5340C5E00621C59D1B40',1000,false)

create table test7(geom geometry)

insert into test7
select st_snaptogrid(geom,0.001) from road_city8 where st_dwithin(geom,'01010000002FE9DE7918FD5340C5E00621C59D1B40',2000,false)

delete from test7
select * from test2
